<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="g3org3.limatexmm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".meniu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".casa"
            android:parentActivityName=".meniu" />
        <activity
            android:name=".finish"/>
        <activity
            android:name=".orders"
            android:parentActivityName=".meniu" />
        <activity
            android:name=".admin"
            android:parentActivityName=".meniu" />
        <activity
            android:name=".bucatarie"
            android:parentActivityName=".meniu" />
    </application>

</manifest>